<main>
    <div class="content">
        <div class = "title">
            <p><%= @user.name %>のお気に入り一覧</p>
        </div>
<%= render partial: "layouts/post", collection: @favorite_posts %>
    </div>
</main>
</div>