<main>
  <div class = "content">
    <div class = "title">
     <%= User.find(params[:id]).name %>の投稿一覧
    </div></br>
    <% if @posts.exists? %>
      <%= render partial: "layouts/post", collection: @posts %>
    <% else %>
      <div class = "message">
        <p>投稿がありません</p>
      </div>
    <% end %>
  </div>
</main>
</div>

