<main>
  <div class = "about">
    <p>ようこそ<strong>C.cosy</strong>へ！</p>
    <p><strong>C.cosy</strong>はあなたの希望するシチュエーションや条件にピッタリ合ったお店を検索できる、SNSサイトです。</p>

    <p>複数の条件でお店を検索できるだけではなく、</p>
    <P>実際に利用した方の口コミはもちろん、
    どんなシチュエーションで利用されたお店なのか等も分かります。</P>

    <p>気になったお店はブックマークでお気に入り登録すれば、</p>
    <p>マイページから簡単にいつでも確認できますし、</p>

    <p>お気に入りのユーザーさんをフォローすれば他の投稿一覧が見られるので、</p>
    <p>お店の好みが似ている他のユーザーさんを通してあなた好みのお店が見つけやすくなります。</p>

    <p>ぜひ、<strong>C.cosy</strong>を活用してあなたのお気に入りのお店を見つけてくださいね！</p>
  </div>
</main>