<style>

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log_in_button{
 text-align: center;
}

form.button_to {
  width: 200px;
}
</style>

<main>
  <div class = "logo">
      <%= image_tag 'logo2.png', size: "240x80" %>
      <p>あなたの"お気に入り"がきっと見つかる</p>
  </div>
  <div class = "top">
    <p>ユーザー登録してお気に入りのお店の情報を友達とシェアしよう！</p>
  </div>

  <div class = "log_in">
    <div class = "log_in_button">
      <%= button_to "ユーザーとしてログイン", new_user_session_path %></br>
      <%= button_to "ゲストとしてログイン", posts_path,  method: :get %>
    </div>
  </div>
</main>