<main>
  <div class = "content">
    <div class = "title">
      <p><%= @user.name %>がフォロー中のユーザー</p>
    </div>
    <% if @users.exists? %>
      <%= render "user/user/index", users: @users %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>
</main>