
  .title,.logo,.button {
  	 display: inline-block;
  }

  .logo {
  	margin-right: 150px;
  	margin-left:  250px;
  }


  .header {
  padding-right : 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 450px;
  }

  form.button_to {
    width:100px;
    margin:20px;
  }

  .btn-outline {
  background-color: transparent;
  color: #000000; /* ボタンのテキストカラー */
  border-color: transparent;
  }

  .container {
  display: flex;
  justify-content: center;
}

  table {
    padding: 10px;
  }

  .table {
    margin-top:30px;
  }

  th, td {
  text-align: left;
  padding: 10px;
}

  .button {
    text-align: center;
  }