 header{
    text-align: center;
    display:flex;
 }

  .icon_search,.icon_post {

    width: 30px;
    white-space: nowrap;
  }

  .logo {
  	margin-right: 100px;
  	margin-left:  100px;
  }

  .header {

  margin-top: 20px;
  margin-bottom: 60px;
  width: 700px;
  text-align: buttom;
  }

  .logo,.about,.sign_out,.sign_up,.icon {
       display: inline-block;
}
  form.button_to {
    width:82px;
    margin-right:20px;
    margin-left:20px;
  }

  .btn-outline {
  background-color: transparent;
  color: #000000; /* ボタンのテキストカラー */
  border-color: transparent;
  }

.flex-container {
  display: flex;
}

side_bar {
  flex: 1;
  margin-left: 5px;
}

main{
  flex: 2;
}


  .title{
   display: flex;
   justify-content: center;
  }

  .search_box {
   display: flex;
   justify-content: center;
  }

  .container {
  display: flex;
  justify-content: center;
}

.side_bar {
  width: 33%;
  margin-left: 2%;
}

.content {
  width: 65%;
}

 .post-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    max-width: 800px;
    text-align: left;
    border: 2px solid black; /* セルに実線の枠線を追加 */
    padding: 10px; /* 枠線とコンテンツの間の余白を追加 */
    width: 100%;
  }

   a {
    text-decoration: none;
    color: black;
  }

  a:visited{
    color: black;

  }

  table {
    padding: 10px;
  }

  .table {
    margin-top:30px;
  }
  
  th, td {
  text-align: left;
  padding: 10px;
}

  .button {
    text-align: center;
  }
