 header{
    text-align: center;
    display:flex;
 }

  .icon_search,.icon_post {

    width: 30px;
    white-space: nowrap;
  }

  .logo {
  	margin-right: 100px;
  	margin-left:  100px;
  }

  .header {

  margin-top: 20px;
  margin-bottom: 60px;
  width: 700px;
  text-align: buttom;
  }

  .logo,.about,.sign_out,.sign_up,.icon {
       display: inline-block;
}
  form.button_to {
    width:82px;
    margin-right:20px;
    margin-left:20px;
  }

  .btn-outline {
  background-color: transparent;
  color: #000000; /* ボタンのテキストカラー */
  border-color: transparent;
  }

  .title{
   display: flex;
   justify-content: center;
   width: 100%;
  }

  .search_box {
   display: flex;
   justify-content: center;
   width: 100%;
  }

 .container{
   display: flex;
   justify-content: center;
   width: 100%;
  }


 .post-container {
    border: 1px solid black; /* セルに実線の枠線を追加 */
    padding: 10px; /* 枠線とコンテンツの間の余白を追加 */
    width: 100%;
  }

   a {
    text-decoration: none;
    color: black;
  }

  a:visited{
    color: black;
}

  table {
    padding: 10px;
  }

  .table {
    margin-top:30px;

  }
  th, td {
  text-align: left;
}
